@use '/home/etudiant/Bureau/html/projet-kikiveu/front/src/styles/_vars.scss';

.createARide {
  position: absolute;
  z-index: 25;
  bottom: 0;
  height: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-family: vars.$bodyFont;
  color: vars.$textColor;
  padding: vars.$smallGutter;
  text-align: center;

  &__divLabel{
    display: flex;
    flex-direction: rows;
  }

  &__locate {
    display: flex;
    flex-direction: column;
  }

  &__emoji {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 0.5em;
  }
  &__bottom {
    display: flex;
    justify-content: space-evenly;
  }

  &__mainUserButton{
    margin-top: -60px;
  }
}

.twoColumns {
  display: flex;
  width: 100%;
}

.lieu {
  margin: 0;
}
