.kikiVeuContact {
  position: absolute;
  height: 350px;
  bottom: 0;
  z-index: 25;
  width: 100%;
  background-color: #FCDEB0;
  display : flex;
  justify-content: space-evenly;
  align-items: center;
   flex-direction: column;
  &__wrapper {
    width: 50%;
    margin-top: -120px;
    height: 200px;
  }
  &__item {
    display: flex;
    justify-content: space-evenly;
  }

}

@media screen and (min-width: 1300px) {
  .kikiVeuContact {
    display: block;
    position: absolute;
    height: 80vh;
    width: 33%;
    right: 0;
    z-index: 2000;
    background-color: #fff;
  }
}
