//@use '/home/etudiant/Bureau/html/projet-kikiveu/front/src/styles/_vars.scss';
@use '../../../styles/vars';
.emoji {
  
  &__image {
    margin-top : (vars.$smallGutter)/2;
    width: 2*(vars.$bigGutter);
    text-align: center;
  }
}

.input {
  
  font-family: vars.$bodyFont;
}
