@use '/home/etudiant/Bureau/html/projet-kikiveu/front/src/styles/_vars.scss';

.input {
  border-radius: 5px;
  border: 2px solid vars.$secondaryColor;
  padding: 0.5em;
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-top: vars.$smallGutter;
  font-family: vars.$bodyFont;
  font-size: 1.2rem;
  &:focus {
    border: 2px solid vars.$accentColor;
  }
}
