.info {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: #FCDEB0;
  display : flex;
  justify-content: space-around;
  height: 60px;
  align-items: center;
}

.mainUserButton {
  margin-top: -60px;
}
