//@use '/home/etudiant/Bureau/html/projet-kikiveu/front/src/styles/_vars.scss';
@use '../../../styles/vars';
.button {
  width: 70%;
  margin: 0 auto;
  display: block;
  background-color: vars.$mainColor;
  font-family: vars.$bodyFont;
  font-size: 1.3rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: (vars.$smallGutter)/2;
  font-weight: bold;
}
.button:hover {
  background-color: vars.$secondaryColor;
}

.button_small {
  width: 100%;
  margin: 0 auto;
  display: block;
  background-color: vars.$mainColor;
  font-family: vars.$bodyFont;
  font-size: 0.8rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: (vars.$smallGutter)/3;
  font-weight: bold;
}

.image_upload_text {
  width: 50%;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
  font-weight: bold;
  font-family: vars.$titleFont;
  color: vars.$mainColor;
  font-size: vars.$bigGutter;
}

.button_small_green {
  width: 100%;
  margin: 0 auto;
  display: block;
  background-color: vars.$secondaryColor;
  font-family: vars.$bodyFont;
  font-size: 0.8rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: (vars.$smallGutter)/3;
  font-weight: bold;
}

.button_small:hover {
  background-color: vars.$secondaryColor;
}
