.cgu {
  width: 80%;
  height: 500px;
  overflow-y: scroll;
  scrollbar-width: thin;
  padding: 1em;
  margin: 1em;
  border: solid 0.5px grey;
  border-radius: 10px;

  &__title{
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.5em;
    margin: 1em;
  }

  &__subtitle{
    font-style: italic;
    text-align: right;
  }

  &__content{
    margin: 0.5em;
    text-align: justify;
  }

  &__article {
    font-weight: bold;
  }
}
