@use '../../../styles/vars';


.map {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  border: vars.$smallGutter solid #fff;

  &__component {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &__users {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 10;
    bottom: 100px;
    left: 10px;
    z-index: 10;

    &__user { 
      border: solid 2px white;
      border-radius: 50%;
      margin-top: 15px;
    }

  } 
  &__refresh {
    position: absolute;
    top: 25px;
    z-index: 10;
    left: 0;
    right: 0;
    width: 40%;
    margin: auto;
  } 
}

.leaflet-div-icon {
  background-color: none;
  border: solid 2px vars.$accentColor;;
  padding: 0.6rem;
  box-sizing: content-box;
  border-radius: 50%;
}

@media screen and (min-width: 1300px) {
  .map {
    display: block;
    position: absolute;
    height: 100vh;
    width: 66.66%;
    left: 0;
    border: (vars.$smallGutter)*2 solid #fff;
    border-radius: 15px;
  }
}



