//@use '/home/etudiant/Bureau/html/projet-kikiveu/front/src/styles/_vars.scss';
@use '../../../styles/vars';
.mainUserButton {
  width : 70px;
  height: 70px;
  border-radius: 50%;
  background-size: cover;
  border: 5px solid white;
  box-sizing: border-box;
  margin: -40px auto 0 auto;
  text-align: center;
}
