@use '/home/etudiant/Bureau/html/projet-kikiveu/front/src/styles/_vars.scss';

.mainUserButton {
  width : 70px;
  height: 70px;
  border-radius: 50%;
  background-size: cover;
  margin-top: -50%;
  border: 5px solid white;
  box-sizing: border-box;
}
