@use '/home/etudiant/Bureau/html/projet-kikiveu/front/src/styles/_vars.scss';

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.item1 {
  height: 7vh;
}
.item2 {
  height: 60vh;
}
.item3 {
  display: block;
  width: 100%;
  position: absolute;
  height: 20vh;
  bottom: 0;
  z-index: 25;
  margin-top : -20vh;
}

.item4 {
  height: 20vh;
  z-index:25;
}

@media screen and (min-width: 1300px) {
  .home {
    position: relative;
    width: 100%;
  }

  .item1 {

  }

  .item2 {
    position: absolute;
    left: 0;
    top: 0;
  }

  .item3 {
    order: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 33%;
  }
}

