//@use '/home/etudiant/Bureau/html/projet-kikiveu/front/src/styles/_vars.scss';
@use '../../../styles/vars';
.previousButton {
  width : 40px;
  height : 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: center;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 30px;
  background-color: vars.$secondaryColor;
  color: #fff;
  font-weight: bold;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: vars.$accentColor;
  }
}
