.previousButton {
  width : 40px;
  height : 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: center;
  font-size: 1.5em;
  font-weight: bold;
  &:hover {
    cursor: pointer;
  }
}
