// colors
$mainColor: #f49718;
$secondaryColor: #697c37;

$textColor: #575756;

$accentColor: #cbd748;
$lightColor: #f4eec7;


// fonts
$titleFont : myriad-std-tilt, sans-serif;
$bodyFont: davis-sans, sans-serif;


//gutter
$smallGutter: 1rem;
$bigGutter : 1.7rem;
