//@use '/home/etudiant/Bureau/html/projet-kikiveu/front/src/styles/_vars.scss';
@use '../../../styles/vars';

.userProfile {
  position: absolute;
  z-index: 25;
  height: 380px;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  display : flex;
  justify-content: space-around;
  align-items: center;
  padding: vars.$smallGutter;
  font-family: vars.$bodyFont;
  color: vars.$textColor;
  text-align: center;
  color: vars.$secondaryColor;
  &__title {
    margin-bottom: (vars.$smallGutter)/2;
    font-family: vars.$titleFont;
    font-size: vars.$bigGutter;
    color: vars.$secondaryColor;
  }
  &__flex {
    display: flex;
    padding-top: vars.$bigGutter;
    &__emoji {
      margin-top: -1rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      &__description {
        margin-bottom: -2px;
        margin-top: 1px;
      }
    }
  }
  &__avatar {
    margin-top: -10px;
  }
  &__form {
    &__profileImage{
      display:flex;
      flex-direction: column,
    }
    &__emoji {
      margin-top: -1rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-evenly;
    margin-top: vars.$smallGutter;
  }
}


.button_wrapper {
  display: flex;
}

.buttonItem {
  margin: 0.2em;
}

.before_button {
  margin-top: vars.$smallGutter;
}

#castrate {
  margin-top: (vars.$smallGutter)/2;
}

@media screen and (min-width: 1300px) {
  .userProfile {
    display: block;
    position: absolute;
    height: 80vh;
    width: 33%;
    right: 0;
    z-index: 2000;
    background-color: #fff;
  }
}

